fastapi
uvicorn
pillow
python-multipart
# Use CPU-only PyTorch packages
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.0+cpu
torchvision
torchaudio

git+https://github.com/geetu040/transformers.git@depth-pro-projects#egg=transformers